/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";
/* @import "flowbite"; */


/* @layer base {
  :where(.mss-scope, .mss-scope *) {
    all: revert;
  }
} */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;
/* MSS scope */
.mss-scope {
   font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: calc(100vh - 48px); /* Frappe navbar height */
  position: relative;
  z-index: 1;
}

